* {
  list-style-type: none;
  text-decoration: none;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.banner {
  max-width: 30rem;
  border-radius: 10px;
  box-shadow: 1px 1px 3px #33333a;
  text-align: center;
  margin-top: 3rem;
  height: auto;
  padding: 0.5rem;
  flex-shrink: 1;
}

.banner > p {
  margin: 0;
}

.readMore {
  padding-left: 2rem;
  color: #4b43e0;
}

.intro {
  text-align: center;
  margin-top: 5rem;
}

.intro > p {
  line-height: 10px;
}
